* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    text-align: center;
    font-family: sans-serif;
    margin-top: 100px;
}



div {
    margin-top: 50px;
}

footer {
    background-color: #666;
    width: 100%;
    position: absolute;
    padding: 15px;
    bottom: 10px;
}